            /* Fonte do texto */

            @font-face {
                font-family: OpenSans;
                src: url(../assests/fonts/static/OpenSans/OpenSans-Regular.ttf);
            }

            @font-face {
                font-family: Bebas-neue;
                src: url(../assests/fonts/BebasNeue-Regular.ttf)
            }

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            /* header */

            header {
                background-color: #f9003d;
                height: 60px;
                display: flex;
                justify-content: flex-end;
            }

            /* NAV */

            header nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 500px;
            }

            header nav a {
                font-family: Bebas-neue;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: 2px;
                text-shadow: 2px 2px 10px black;
                padding: 15px 20px;
                border-radius: 5px;
            }

            header nav a:hover {
                text-shadow: 2px 2px 10px rgba(249, 0, 61, 0.3);
                background-color: white;
                color: #f9003d;
            }

            header .header-flex {
                display: flex;
                justify-content: flex-end;
                align-items: stretch;
                height: 100%;
            }
            header #menu-mobile {
                display: none;
            }

            /* Classes do Layout-grid */

            .layout-grid {
                width: 80%;
                max-width: 1200px;
                margin: 0 auto;
            }

            /* MAIN */

            #content .banner {
                height: 740px;
                background-image: url(../assests/images/imagem-fundo-banner.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom;
                display: flex;
                align-items: center;


            }

            #content .banner .banner-content {
                padding-top: 200px;
                padding-bottom: 62px;
                width: 48%;
            }

            /* Banner */

            #content .banner .banner-content h1 {
                color: white;
                font-family: "Bebas-neue";
                font-size: 96px;
                letter-spacing: 3px;
                text-transform: uppercase;

            }

            #content .banner .banner-content .senai {
                color: #f9003d;
                font-family: "Courier New";
                font-size: 53px;
                text-transform: uppercase;
                font-weight: bold;
                ;
            }

            /* Linha no article */

            #content .banner .banner-content hr {
                border: 1px solid #ffaf00;
                width: 545px;
                margin: 20px 0px;
            }

            /* Imagem Mouse */

            #content .banner .banner-content img {
                margin-top: 10px;
            }

            #content .sobre {
                width: 100%;
                height: 1000px;
                background-color: #080324;
            }

            #content .sobre h2 {
                margin-bottom: 50px;
                font-family: "Bebas-Neue";
                color: #f9003d;
                font-size: 64px;
            }

            #content .sobre .sobre-article {
                display: flex;
                justify-content: space-between;
            }

            #content .sobre .sobre-article .paragráfos {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
                color: #FFF;
            }



            #content .sobre .sobre-article .paragráfos .Participantes {
                font-family: "Courier New";
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }

            #content .sobre .sobre-article .paragráfos .Alunos {
                font-family: "Bebas-Neue";
                font-size: 64px;
                color: #ffaf00;
            }

            #content .sobre .paragráfos .lorem {
                font-family: "OpenSans";
                font-size: 18px;

            }

            #content .sobre img {
                width: 491px;
                height: 476px;

            }

            #content .informacoes {
                height: 200px;
                background-image: url(../assests/images/imagem-fundo-info.png);
                display: flex;
                align-items: center;
            }

            #content .informacoes img {
                width: 100%;
                height: 193px;
                position: absolute;
                top: 1607px;
                left: 0px;
            }

            #content .informacoes .info-flex {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            #content .informacoes .info-item .info-title {
                font-family: 'Courier New', Courier, monospace;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                color: #FFF;
                margin-bottom: 15px;
            }

            #content .informacoes .info-item .info-box {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Courier New', Courier, monospace;
                font-size: 28px;
                font-weight: bold;
                text-transform: uppercase;
                width: 290px;
                height: 100px;
                border: 1px solid #A259F7;
                color: #A259F7;
            }

            #content .Endereço {
                background-image: url(../assests/images/imagem-fundo-endereco.png);
                width: 100%;
                height: 598px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }

            #content .Endereço .Endereço-titulo {
                font-family: "Bebas-Neue";
                font-size: 64px;
                color: #ffaf00;
                text-transform: uppercase;
                font-weight: 400;
                margin-bottom: 10px;
            }

            #content .Endereço .Endereço-juntos {
                display: flex;
                position: relative;
                padding: 56px 56px 56px 56px;
                width: 900px;
                /* height: 56px; */
                background-color: #010010;
                border: 2px solid #340b65;
            }

            #content .Endereço .endereço-texto {
                font-family: 'Courier New', Courier, monospace;
                font-size: 24px;
                font-weight: 24px;
                color: #A259F7;
                width: 55%;
            }

            #content .Endereço img {
                position: absolute;
                right: 25px;
                bottom: 25px;
            }


            #content .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f9003d;
                padding: 28px 0;
            }

            #content .footer-paragrafo {
                font-family: "OpenSans";
                font-size: 18px;
                color: #FFF;
            }



            /* MEDIAS QUERIES */
            /* tablets >= 768px até 992px */
            @media screen and (max-width: 991px) {
                
            }


            /* Celulares >=0 até 767px*/
            @media screen and (max-width: 991px) {
            

            .mostrarMenu {
                left: 0;
                opacity: 1;
            }

            header #menu-mobile {
                display: block;
            }

            header nav {
                position: fixed;
                top: 60px;
                left: -80vw;
                width: 80vw; /* viewport width */
                height: calc(100vh - 60px);/* viewport height */
                flex-direction: column;
                justify-content: space-evenly;
                background-color: #F9003D;
                opacity: 0;
        
                transition: left 0.4s, opacity 0.6s;
            }
        
            header nav a {
                border-left: 2px dotted #ffffff;
            }

            }